* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
#btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 15px;
  border: none;
  background: #639;
  color: #fff;
  transition: transform 0.3s;
  &.active {
    transform: translateX(-110px);
  }
}
nav {
  top: 0;
  right: 0;
  position: fixed;
  background: #639;
  color: #fff;
  height: 100vh;
  padding: 3rem;
  transition: transform 0.3s;
  transform: translateX(100%);
  ul {
    li {
      padding: 1rem 0;
    }
  }
  &.active {
    transform: translateX(0);
  }
}
