$colors: (
  main-light-color: #fff,
  main-dark-color: #000,
  main-bg-color: #dc143c,
  main-text-color: #222,
);
$font-family: (
  mont-font-family: "Montserrat",
  mono-font-family: "Monoton",
  rale-font-family: "Raleway",
);
