@import "./reset.scss";
@import "./variables.scss";

@mixin innerContents {
  .contents-title {
    display: flex;
    align-items: center;
    gap: 10px;
    .title {
      color: map-get($map: $colors, $key: theme);
      font: bold 1.4rem/1 arial;
    }
    .subtitle {
      font: normal 1.4rem/1 arial;
    }
  }
}
html {
  font-size: 62.5%;
  body {
    font-size: 1.6rem;
  }
}
html,
body {
  width: 100%;
  height: 100%;
}
#wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  #wrapper-header {
    width: 100%;
    @include innerContents();
    .header-line {
      width: 100%;
      border-top: 1px solid map-get($map: $colors, $key: gray);
      margin: 4px 0;
    }
    .albumWrapper {
      display: flex;
      justify-content: space-between;
      .album-thumbnail {
        width: 110px;
        height: 110px;
      }
      .album-songtitle {
        font-size: 1.4rem;
        color: map-get($map: $colors, $key: gray);
      }
      .album-artist {
        font-size: 1.4rem;
        color: map-get($map: $colors, $key: artist);
      }
    }
  }
  #wrapper-body {
    width: 100%;
    @include innerContents();
    .albumTable {
      width: 100%;
      margin: 4px 0;
      padding: 2px;
      border-spacing: 0;
      th {
        background: map-get($map: $colors, $key: table);
        padding: 2px;
        font-size: 1.4rem;
      }
      td {
        color: map-get($map: $colors, $key: artist);
        border-bottom: 1px dashed map-get($map: $colors, $key: gray);
        height: 26px;
      }
      .albumTable-checkBox {
        width: 5%;
        text-align: center;
      }
      .albumTable-number {
        width: 18%;
        text-align: center;
      }
      .albumTable-song {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
        padding-left: 40px;
        i {
          display: inline-block;
          width: 24px;
          height: 18px;
          line-height: 18px;
          text-align: center;
          font-size: 1.4rem;
          background: map-get($map: $colors, $key: theme);
          cursor: pointer;
          border-radius: 3px;
          color: map-get($map: $colors, $key: light);
        }
      }
      .albumTable-artist {
        width: 26%;
        text-align: center;
      }
    }
    .albumTable-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      button {
        background: map-get($map: $colors, $key: gray);
        color: map-get($map: $colors, $key: light);
        border: none;
        padding: 3px 5px;
        border-radius: 6px;
      }
      .footer-center {
        color: map-get($map: $colors, $key: accent);
      }
    }
  }
}
