* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  text-align: center;
}
#container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
#container form label input {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 60px;
  margin-right: 10px;
  padding: 5px;
}
#container form label input:focus {
  outline: none;
}
#container form input[type=button] {
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid salmon;
  background-color: transparent;
  color: salmon;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#container form input[type=button]:hover {
  background: salmon;
  color: #fff;
}
#container #result {
  border: 1px solid #ccc;
  padding: 50px 10px;
  text-align: left;
  font-size: 24px;
}