* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #000;
}

#container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#container #outer {
  width: 807px;
  height: 544px;
  background: url("./contents/outerbox.png") center/cover no-repeat;
  position: relative;
  padding: 36px;
}
#container #outer #inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#inner-left {
  width: 203px;
  height: 472px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#inner-left .inner-left-header {
  width: 100%;
  height: 30px;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#inner-left .inner-left-header .zero {
  color: #dc143c;
}
#inner-left .inner-left-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid #808080;
  border-radius: 14px;
  padding: 26px;
}
#inner-left .inner-left-body .left-body-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#inner-left .inner-left-body .left-body-title .title-img {
  width: 148px;
  height: 133px;
  background: url("./contents//iu.jpg") center/cover no-repeat;
}
#inner-left .inner-left-body .left-body-title .title-line {
  width: 100%;
  border-top: 1px dotted #000;
  margin-top: 12px;
}
#inner-left .inner-left-body .left-body-profile {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
#inner-left .inner-left-body .left-body-profile .profile-datail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  cursor: pointer;
}
#inner-left .inner-left-body .left-body-footer {
  width: 100%;
}
#inner-left .inner-left-body .left-body-footer .footer-feel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
#inner-left .inner-left-body .left-body-footer .footer-feel .feel-title {
  font-weight: bold;
}
#inner-left .inner-left-body .left-body-footer .footer-feel form {
  width: 100%;
}
#inner-left .inner-left-body .left-body-footer .footer-feel form select {
  width: 100%;
  font-size: 1.2rem;
}

#inner-right {
  width: 524px;
  height: 472px;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
#inner-right .inner-right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #55a2e4;
}
#inner-right .inner-right-header .header-title {
  font-weight: bold;
}
#inner-right .inner-right-header .header-privacy {
  font-size: 1.3rem;
}
#inner-right .inner-right-body {
  width: 100%;
  height: 445px;
  border: 1px solid #808080;
  border-radius: 14px;
  background: #fff;
}
#inner-right .inner-right-body iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}

#navigation {
  position: absolute;
  top: 20%;
  right: -70px;
  width: 70px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#navigation .navigation-item {
  background: #55a2e4;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 0 8px 8px 0;
  font-size: 1.6rem;
  border: 1px solid #000;
  cursor: pointer;
}
#navigation .navigation-item.active {
  background-color: #fff;
  color: #000;
}