* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  background: #ea7612;
}

.clock-container {
  width: 280px;
  height: 280px;
  border: 8px solid #000;
  border-radius: 50%;
  background: #fff;
  position: relative;
}
.clock-container .number {
  position: absolute;
  font-size: 2rem;
}
.clock-container .number#num3, .clock-container .number#num6, .clock-container .number#num9, .clock-container .number#num12 {
  font-weight: bold;
}
.clock-container .number#num3 {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2px;
}
.clock-container .number#num6 {
  bottom: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.clock-container .number#num9 {
  left: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.clock-container .number#num12 {
  top: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.clock-container #dot {
  width: 14px;
  height: 14px;
  background: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
}
.clock-container #hour {
  top: 28%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 7px;
  height: 60px;
  background: #000;
  position: absolute;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
.clock-container #min {
  position: absolute;
  top: 14%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2px;
  height: 95px;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  background: #000;
}
.clock-container #sec {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2px;
  height: 80px;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  background: #dc143c;
}