$color: (
  dark: #000,
  bg: #ea7612,
  light: #fff,
  accent: #dc143c,
);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background: map-get($map: $color, $key: bg);
}
.clock-container {
  width: 280px;
  height: 280px;
  border: 8px solid map-get($map: $color, $key: dark);
  border-radius: 50%;
  background: map-get($map: $color, $key: light);
  position: relative;
  .number {
    position: absolute;
    font-size: 2rem;
    &#num3,
    &#num6,
    &#num9,
    &#num12 {
      font-weight: bold;
    }
    &#num3 {
      top: 50%;
      transform: translateY(-50%);
      right: 2px;
    }
    &#num6 {
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
    }
    &#num9 {
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
    }
    &#num12 {
      top: 2px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  #dot {
    width: 14px;
    height: 14px;
    background: map-get($map: $color, $key: dark);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
  }
  #hour {
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    width: 7px;
    height: 60px;
    background: map-get($map: $color, $key: dark);
    position: absolute;
    transform-origin: center bottom;
  }
  #min {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 95px;
    transform-origin: center bottom;
    background: map-get($map: $color, $key: dark);
  }
  #sec {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 80px;
    transform-origin: center bottom;
    background: map-get($map: $color, $key: accent);
  }
}
