* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  width: 600px;
  padding: 30px;
  fieldset {
    border: transparent;
    display: flex;
    align-items: center;
    padding: 20px;
    legend {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 50px;
    }
    .img {
      img {
        width: 100%;
      }
    }
    .box {
      text-align: right;
      label {
        display: inline-block;
        margin-bottom: 20px;
        input {
          height: 30px;
          border: none;
          border-bottom: 1px solid #aaa;
          &:focus {
            outline: none;
          }
        }
      }
    }
    #sale_btn {
      width: 100%;
      padding: 8px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}
