* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container {
  margin-top: 50px;
}
#container form {
  width: 520px;
  height: auto;
}
#container form fieldset {
  border: 1px solid #c0c0c0;
  padding: 30px 20px;
  margin-bottom: 35px;
}
#container form fieldset .field {
  width: 60px;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 5rem;
  text-align: right;
}
#container form fieldset .input-box {
  width: 350px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 5px;
  margin: 10px 0;
}
#container form fieldset .input-box:focus {
  outline: none;
}
#container form fieldset .section {
  margin-right: 30px;
}
#container form fieldset .section input {
  margin-left: 10px;
  display: inline-block;
}
#container form fieldset .section input:first-child {
  margin-left: 0;
}
#container form fieldset p {
  margin-bottom: 20px;
}
#container form .order {
  width: 100%;
  padding: 20px;
  border: 1px solid #aaa;
  background: #e9e9e9;
  font-size: 1.6rem;
  border-radius: 8px;
  cursor: pointer;
}