#result {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
#result table {
  width: 20%;
  border-collapse: collapse;
}
#result table tr {
  border: 1px solid #000;
  line-height: 30px;
}
#result table tr th {
  width: 20%;
}
#result table tr td {
  height: 100%;
  text-indent: 10px;
}