@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Single+Day&display=swap");

/*
  font-family: "Noto Sans", sans-serif;
  font-family: "Single Day", cursive;
  font-family: "Montserrat", sans-serif;
*/
