* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
canvas {
  // border: 1px solid #ccc;
  background: #ccc;
}
// button {
//   margin: 10px;
//   padding: 10px 20px;
// }
