* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-size: 1.6rem;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form {
  border: 1px solid #ccc;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
form h2 {
  color: #3498db;
}
form #user-input {
  margin: 10px 0 24px;
}
form #user-input input {
  padding: 10px;
}
form #user-input input:nth-child(1) {
  border: none;
  border-bottom: 1px solid #3498db;
}
form #user-input input:nth-child(1)::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
form #user-input input:nth-child(1)::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
form #user-input input:nth-child(1):-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
form #user-input input:nth-child(1)::-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
form #user-input input:nth-child(1)::placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
form #user-input input:nth-child(1):focus {
  outline: none;
}
form #user-input input:nth-child(1):focus::-webkit-input-placeholder {
  opacity: 0;
}
form #user-input input:nth-child(1):focus::-moz-placeholder {
  opacity: 0;
}
form #user-input input:nth-child(1):focus:-ms-input-placeholder {
  opacity: 0;
}
form #user-input input:nth-child(1):focus::-ms-input-placeholder {
  opacity: 0;
}
form #user-input input:nth-child(1):focus::placeholder {
  opacity: 0;
}
form #user-input input:nth-child(2) {
  width: 80px;
  background: #3498db;
  color: #fff;
  border: 1px solid #3498db;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
form #user-input input:nth-child(2):hover {
  background: #fff;
  color: #3498db;
  border: 1px solid #3498db;
}
form ul li {
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #ccc;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
form ul li button {
  border: none;
  padding: 4px 10px;
  background: #3498db;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
}